/* GENERAL RULES */

body {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    width: 100%;

    margin: 0 0;
    /* font-family: "Space Grotesk"; */
}

/* START SCROLL FIX AT ASIDE */

aside {
    position: fixed;
    width: 6.5rem;
    height: 18rem;
    z-index: 3;
    top: 15rem;
    left: 88.2%;
    z-index: 3;
}

#scroll-fixed {
    display: flex;
    height: inherit;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    z-index: 3;
}

#social {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-between;
    height: 8rem;
}

/* END SCROLL FIX AT ASIDE */

/* START LINE ASIDE */

#horizontal {
    position: relative;
    z-index: 1;
    top: 12rem;
    width: 84%;
    height: 0.01rem;
    background: grey;
    margin-left: auto;
    margin-right: auto;
}

#vertical-1 {
    border-left: thick grey solid;
    border-left-width: 0.01rem;
    height: 100%;
    left: 8%;
    position: absolute;
    z-index: 1;
}

#vertical-2 {
    border-left: thick grey solid;
    border-left-width: 0.01rem;
    height: 100%;
    right: 8%;
    position: absolute;
    z-index: 1;
}

/* END LINE ASIDE */

/* START HEADER SECTION */

header {
    background-image: url("../Assets/Illustrations/Batgame_1.png");
    width: 100%;
    height: 54rem;
    background-repeat: no-repeat;
}

/* START NAV BAR */

nav {
    top: 4rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
}

.container-nav-elements {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.text-home {
    /* position: relative; */
    color: hsl(0 0% 100%);
    font-family: "Rajdhani";
    font-size: 2rem;
    display: flex;
    width: 15rem;
    justify-content: space-around;
}

.text-home a {
    text-decoration: none;
    color: hsl(0 0% 100%);
    font-weight: bold;
}

/* AND NAV BAR */

/* START CONTAINER HEADER */

.container {
    /* position: relative; */
    top: 10rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
}

.play-game {
    position: absolute;
    top: 25rem;
    left: 15rem;
    font-family: "Rajdhani";
    font-size: 2.5rem;
    font-weight: bold;
}

/* END HEADER SECTION */

/*  START ARROW AFTER HEADER */

.fleche-down {
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

/*  END ARROW AFTER HEADER */

/* START MAIN SECTION */

main {
    z-index: 0;
}

.DoYouKnow {
    margin-top: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.the-knight-img {
    margin-top: 3rem;
}

.container-in-knight-img {
    width: fit-content;
    margin: auto;
}

/* BOUTON START */

#start-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* CONTAINER QUESTION */

#question-container {
    margin-top: 20px;
}

/* THE QUESTION */
.question {
    font-family: "Rajdhani", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* OPTIONS */

.options {
    width: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: auto;
}

/* BOUTION NEXT */

#next-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* CONTAINER RESULTAT */

#result-container {
    text-align: center;
    margin-top: 20px;
}

/* RETURN */

#result-text {
    font-family: "Rajdhani", sans-serif;
    font-size: 24px;
    font-weight: bold;
}
/* END MAIN SECTION */

/* START FOOTER SECTION */

footer {
    margin-top: 10rem;
    padding-bottom: 5rem;
}

.WB {
    display: flex;
    width: 47rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.logos {
    position: relative;
    display: flex;
    width: 20rem;
    height: 1.8rem;
    top: 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

/* END FOOTER SECTION */

/*CONTAINER QUIZZ */

.quiz-container {
    margin-top: 15rem;
    text-align: center;
}

/* ALL HOVER */

#logo-bat-img:hover {
    cursor: pointer;
    filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

aside img:hover {
    cursor: pointer;
    filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

footer img:hover {
    cursor: pointer;
    filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

/* END HOVER */

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
    /* styles phone*/
}

/* Styles pour les tablettes */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* styles tablette */
}

/* END RESPOSIVE */
