/* GENERAL RULES */

body {
    position: relative;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    width: 100%;

    margin: 0 0;
    /* font-family: "Space Grotesk"; */
}

/* START SCROLL FIX AT ASIDE */

aside {
    position: fixed;
    width: 6.5rem;
    height: 18rem;
    z-index: 3;
    top: 15rem;
    left: 88.2%;
    z-index: 3;
}

#scroll-fixed {
    display: flex;
    height: inherit;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    z-index: 3;
}

#social {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-between;
    height: 8rem;
}

/* END SCROLL FIX AT ASIDE */

/* START LINE ASIDE */

#horizontal {
    position: relative;
    z-index: 1;
    top: 12rem;
    width: 84%;
    height: 0.01rem;
    background: grey;
    margin-left: auto;
    margin-right: auto;
}

#vertical-1 {
    border-left: thick grey solid;
    border-left-width: 0.01rem;
    height: 100%;
    left: 8%;
    position: absolute;
    z-index: 1;
}

#vertical-2 {
    border-left: thick grey solid;
    border-left-width: 0.01rem;
    height: 100%;
    right: 8%;
    position: absolute;
    z-index: 1;
}

/* END LINE ASIDE */

/* START HEADER SECTION */

header {
    background-image: url("../Assets/Illustrations/Bathome1.png");
    width: 100%;
    height: 54rem;
    background-repeat: no-repeat;
}

/* START NAV BAR */

nav {
    top: 4rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
}

.container-nav-elements {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.logo-home {
    /* position: relative; */
}

.text-home {
    /* position: relative; */
    color: hsl(0 0% 100%);
    font-family: "Rajdhani";
    font-size: 2rem;
    display: flex;
    width: 15rem;
    justify-content: space-around;
}

.text-home a {
    /* text-decoration: none; */
    color: hsl(0 0% 100%);
    font-weight: bold;
}

/* AND NAV BAR */

/* START CONTAINER HEADER */

.container {
    /* position: relative; */
    top: 10rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
}

.intro {
    color: hsl(0 0% 100%);
    font-family: "Space Grotesk";
    font-size: 1.1rem;
    text-align: center;
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.he-is-batman {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rajdhani";
    font-size: 1.2rem;
}

.container-button {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    /* position: relative;
    padding-top: 0.5rem; */
    background: linear-gradient(
        0.25turn,
        rgba(237, 222, 191, 0.4),
        rgba(25, 88, 125, 0.4),
        rgba(237, 222, 191, 0.4),
        rgba(137, 0, 8, 0.6)
    );
    border: none;
    color: white;
    font-family: "Rajdhani";
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 75%;
    font-weight: bolder;
}

.adve {
    color: white;
    background: linear-gradient(
        0.25turn,
        rgba(237, 222, 191, 0.4),
        rgba(25, 88, 125, 0.4),
        rgba(237, 222, 191, 0.4),
        rgba(137, 0, 8, 0.6)
    );
    border: none;
    font-family: "Rajdhani";
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 75%;
    font-weight: bolder;
}

/* END HEADER SECTION */

/*  START ARROW AFTER HEADER */

.fleche-down {
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

/*  END ARROW AFTER HEADER */

/* START MAIN SECTION */

.bat-title1 {
    position: relative;
    top: 10px;
    color: hsl(0 0% 100%);
    font-family: "Rajdhani";
}

.perso-batman {
    color: hsl(0 0% 100%);
    font-family: "Space Grotesk";
}

.bat-cine {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

.container-batman {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Space Grotesk";
}

.actor {
    text-align: center;
}

.nemesis-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
}

.bat-shuriken {
    position: relative;
    width: 10%;
    top: -6rem;
    left: 4rem;
}

.nemesis-article {
    position: relative;
    top: -5rem;
    font-family: "Space Grotesk";
}

.container-nemesis {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Space Grotesk";
}

.batman-side {
    position: relative;
    top: -20rem;
    left: 47.5rem;
    z-index: 2;
}

.ally-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

.ally-article {
    position: relative;
    top: -20rem;
    font-family: "Space Grotesk";
}

.container-ally {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: -15rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Space Grotesk";
}

.justice-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Space Grotesk";
    padding-top: 2rem;
}

.justice-pic {
    width: 80%;
    z-index: 2;
}

.multimedia {
    padding-top: 4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rajdhani";
}

.button-left,
.button-right {
    position: relative;
    top: 7rem;
}

.container-classement {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}

.container-right {
    position: relative;
    left: 1.2rem;
    width: 28rem;
    height: 2rem;
}

.container-all-center {
    position: relative;
    display: flex;
    width: 60%;
    height: 16.66rem;
    background: linear-gradient(
        0.25turn,
        rgba(237, 222, 191, 0.4),
        rgba(25, 88, 125, 0.4)
    );
    font-size: 0.9rem;
    font-family: "Space Grotesk";
    border-radius: 3%;
}

.bande-annonce {
    display: flex;
    /* border: solid;
    border-color: aliceblue; */
    justify-content: space-around;
    width: 100%;
    padding-top: 5rem;
    z-index: 2;
}

#the-video {
    width: 80%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 35rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    background: linear-gradient(
        0.25turn,
        rgba(237, 222, 191, 0.4),
        rgba(25, 88, 125, 0.4)
    );
    font-family: "Rajdhani";
}

.container-all-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}

.contact-title {
    display: flex;
    justify-content: center;
    font-family: "Rajdhani";
}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Space Grotesk";
}

#news-check,
#message,
#email,
#newsletter {
    width: 80%;
    background-color: transparent;
    border: none;
}

.submit {
    margin-left: auto;
    margin-right: auto;
}

#submit {
    background: linear-gradient(
        0.25turn,
        rgba(237, 222, 191, 0.4),
        rgba(137, 0, 8, 0.6)
    );
    color: white;
    font-family: "Rajdhani";
    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    /* left: 50%; */
}

.citation {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* font-family: ; */
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.container-quotes {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.quote-1 {
    /* position: relative;
    top: -4rem; */
}

.container-all-center2 {
    position: relative;
}

.container-joker-quote {
    position: relative;
}

.the-quote {
    position: relative;
    text-align: center;
    font-family: "Rajdhani";
}

.source-quote {
    position: relative;
    text-align: center;
    font-family: "Space Grotesk";
}

.quote-2 {
    position: relative;
    top: 4rem;
}

.slider {
    display: flex;
    justify-content: space-around;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.empty {
    border: 0.1rem solid;
    border-radius: 50%;
    border-color: rgba(25, 88, 125, 0.4);
    background: transparent;
    width: 0.5rem;
    height: 0.5rem;
}

.full {
    border: 0.1rem solid;
    border-radius: 50%;
    border-color: transparent;
    background: rgba(25, 88, 125, 0.4);
    width: 0.5rem;
    height: 0.5rem;
}

footer {
    margin-bottom: 5rem;
}

.WB {
    display: flex;
    width: 47rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.logos {
    position: relative;
    display: flex;
    width: 20rem;
    height: 1.8rem;
    top: 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

/* ALL HOVER */

#logo-bat-img:hover {
    cursor: pointer;
    filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

aside img:hover {
    cursor: pointer;
    filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

footer img:hover {
    cursor: pointer;
    filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

/* END HOVER */

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
    /* styles phone*/
}

/* Styles pour les tablettes */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* styles tablette */
}

/* Styles pour les écrans plus larges */
@media only screen and (min-width: 1025px) {
    /* styles large screen */
}
/* END RESPOSIVE */
